<div class="badguys">
  <ul class="badguys-list">
    <li *ngFor="let badguy of badguys">
      <div [ngSwitch]="badguy?.masterPlan">
        <div *ngSwitchCase="'UniverseExtinction'" appRealthreat>
          <span class="badge"> {{ badguy.id }}</span> ️⚠️ {{ badguy.name }} ⚠️
          <button class="delete" title="delete hero" (click)="delete(badguy)">
            x
          </button>
        </div>
        <div *ngSwitchDefault>
          <span class="badge">{{ badguy.id }}</span> {{ badguy.name }}
          <button class="delete" title="delete hero" (click)="delete(badguy)">
            x
          </button>
        </div>
      </div>
    </li>
  </ul>
</div>
