/* HeroesComponent's private CSS styles */
.heroes {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 20em;
}
.heroes li {
  height: 20px;
  cursor: pointer;
  background-color: #eee;
  margin: 0.8em;
  height: 2.2em;
  border-radius: 4px;
}

.heroes li:hover {
  color: #607d8b;
  background-color: #ddd;
  left: 0.1em;
}

.heroes a {
  color: #333;
  text-decoration: none;
  width: 250px;
  height: 100%;
  padding: 0.3em 0;
}

.delete {
  line-height: 0%;
  float: right;
  height: 100%;
}
.heroes a:hover {
  color: #607d8b;
}

.heroes .badge {
  font-size: small;
  color: white;
  background-color: #405061;
  margin-right: 0.8em;
  border-radius: 4px 0 0 4px;
}
