<div class="badguys">
  <ul class="badguys-list">
    <li *ngFor="let badguy of badguys">
      <div [ngSwitch]="badguy?.masterPlan">
        <div
          *ngSwitchCase="'UniverseExtinction'"
          [appRealthreat]="extinctionColor"
        >
          <app-badguy
            dangerEmoji="⚠️"
            [badguy]="badguy"
            [appRealthreat]="extinctionColor"
          ></app-badguy>
        </div>
        <div
          *ngSwitchCase="'GalacticDomination'"
          [appRealthreat]="dominationColor"
          defaultThreatColor="violet"
        >
          <app-badguy
            dangerEmoji="🌌"
            [badguy]="badguy"
            [appRealthreat]="extinctionColor"
          ></app-badguy>
        </div>
        <div *ngSwitchDefault>
          <app-badguy
            [badguy]="badguy"
            [appRealthreat]="extinctionColor"
          ></app-badguy>
        </div>
      </div>
    </li>
  </ul>
</div>
<hr />

<h2>
  Select a badguy to deal with
  <p>
    (<label
      ><input type="checkbox" checked (change)="maxPower = !maxPower" />Show
      villains with maximum power level</label
    >)
  </p>
</h2>

<select [(ngModel)]="badguy">
  <ng-container *ngFor="let badguy of badguys">
    <ng-container *ngIf="maxPower || badguy.powerLevel >= 100">
      <option [ngValue]="badguy">{{ badguy.name }} </option>
    </ng-container>
  </ng-container>
</select>

<hr />
<!--
<h2>Unless structural directive</h2>
<p *appUnless="conditionFalse" class="unless a">
  (A) This paragraph is displayed because the condition is false.
</p>

<p *appUnless="!conditionTrue" class="unless b">
  (B) Although the condition is true, this paragraph is displayed because
  appUnless is set to false.
</p>

<h3>UnlessDirective with template</h3>

<p *appUnless="conditionFalse">
  Show this sentence unless the condition is true.
</p>

<p *appUnless="conditionFalse" class="code unless">
  (A) &lt;p *appUnless="condition" class="code unless"&gt;
</p>

<ng-template [appUnless]="conditionFalse">
  <p class="code unless">
    (A) &lt;ng-template [appUnless]="condition"&gt;
  </p>
</ng-template>
 -->
